 <div class="item">
            <div>Avatar URL</div>
            <div>
              <input type="url" name="avatar_url" placeholder="http://" value="{{teacher.avatar_url}}">
            </div>
        </div>
        <div class="item">
            <div>Nome</div>
            <div>
              <input type="text" name="name" placeholder="Nome completo" value="{{teacher.name}}">
            </div>
        </div>
        <div class="item">
            <div>Nascimento</div>
            <div>
              <input type="date" name="birth" value="{{teacher.birth}}">
            </div>
        </div>
        <div class="item">
            <div>Nível Acadêmico</div>
            <div>
              <select name="academic_level">
                <option value="university">Graduação</option>
                <option value="masters">Mestrado</option>
                <option value="doctorate">Doutorado</option>
              </select>
            </div>
        </div>
        <div class="item">
            <div>Aulas</div>
            <div>
              <span><input value="Presencial" type="radio" name="class_type">Presencial</span>
              <span><input value="EAD" type="radio" name="class_type">EAD</span>
            </div>
        </div>
        <div class="item">
            <div>Disciplinas Ministradas</div>
            <div>
              <input type="text" name="disciplines" placeholder="Separe suas disciplinas com vírgula" value="{{teacher.disciplines}}">
            </div>
        </div>

        <button type="submit">Salvar</button>
